[submodule "mx"]
	path = mx
	url = https://github.com/graalvm/mx.git
[submodule "graal-jvmci-8"]
	path = graal-jvmci-8
	url = https://github.com/smarr/graal-jvmci-8.git
	branch = upstream/master
[submodule "truffle"]
	path = truffle
	url = https://github.com/smarr/truffle.git
